<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">BeGateway</name>
        <description multilanguage="true">Приём платежей через провайдера платежей, работающего на платформе beGateway</description>
        <version>1.0.0.0</version>
        <author>eComCharge</author>
        <is_system>1</is_system>
    </defaultValues>
</config>
